__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

venv/
.env

.vscode

.DS_Store
Thumbs.db

vectorstore/

codebase/

*.pem
*.key
*.env
aws_credentials.json

.ipynb_checkpoints/

.streamlit/

*.log
*.tmp
*.bak
*.swp
